*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "utilities/variables";
@import "layout/contacto";
@import "layout/nuestrosVinos";
@import "layout/turismo";
@import "layout/sobreNosotros";

.body{
    font-family: 'League Spartan', sans-serif;
    background-image: linear-gradient(to right, rgb(231, 220, 216), rgb(231, 183, 165), rgb(218, 149, 125));
    display: grid;
    gap: $font-principal;
    grid-template-areas: "header header header header"
                         "main main main main"
                         "galeria galeria galeria galeria"
                         "volver volver volver volver"
                         "footer footer footer footer";
}

.header{
    grid-area: header;
    background-image: url("../img/viñedoconuvas.jpg");
    background-size: cover;
    .logoMenu{
        @include nav;
        .encabezado{
            display: flex;
            flex-direction: column;
            align-items: left;
            .logoBodega{
                height: 200px;
                width: 200px;
                margin-left: 10px;
            }
        }
        .menu{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            .menuLista{
                display: inline-block;
                padding: 45px;
                .enlace{
                    color: nth($colores,1);
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: $font-principal;
                }
            }
            .menuLista:hover{
                transform: scale(1.2);
                transition: 0.7s;
            }
        } 
    }
    .subtitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 10px;
        color: nth($colores,1);
        font-size: $font-principal + 12;
        text-transform: uppercase;
        text-align: center;
    }
    .parrafoInicial{
        display: flex;
        justify-content: center;
        align-items: center;
        color: nth($colores,1);
        text-align: center;
        font-size: $font-principal - 0.5;
        margin-bottom: 150px;
    }
}

.main{
    grid-area: main;
    .reserva{
        color: nth($colores,2);
        text-transform: uppercase;
        margin-top: 10px;
        display: inline-block;
        border: 10px double nth($colores,1);
        position: sticky;
        top: 0;
        .enlaceRelativo{
            text-decoration: none;
            color: nth($colores,2);
            font-weight: bold;
        }
    }
    .reserva:hover{
        transform: scale(1.1);
        box-shadow: 2px 2px rgb(219, 198, 190);
    }
    .primeraParte{
        display: flex;
        flex-flow: row;
        justify-content: center;
        .fotoSierra{
            @include fotos;
        }
        .informacionPrincipal{
            text-align: justify;
            display: flex;
            height: 400px;
            width: 300px;
            margin-left: 30px;
            color: nth($colores,3);
            font-size: $font-principal + 2;
            overflow: hidden;
        }
    }
    .segundaParte{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .informacionSecundaria{
            text-align: justify;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 400px;
            width: 300px;
            margin-right: 30px;
            color: nth($colores,3);
            font-size: $font-principal + 2;
            overflow: hidden;
        }
        .fotoUva{
            @include fotos;
        }
    }
}

.galeria{
    grid-area: galeria;
    .galeriaFlex{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .tituloGaleria{
            text-align: center;
            text-transform: uppercase;
            font-size: $font-principal + 2;
            margin-bottom: 10px;
        }
        .imagenes{
            display: flex;
            .fotoBarrica{
                @include galeria;
            }
            .fotoSalon{
                @include galeria;
            }
            .fotoViñedo{
                @include galeria;
            }
            .fotoBarrica:hover{
                @include galeriaHover;
            }
            .fotoSalon:hover{
                @include galeriaHover;
            }
            .fotoViñedo:hover{
                @include galeriaHover;
            }   
        }
    }
}

.volver{
    @include volver;
    .linkArriba{
        @include arriba;
    }
}

.footer{
    grid-area: footer;
    .footerFlex{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: nth($colores,3);
        color: nth($colores,1);
        .footerUno{
            margin: 30px;
            text-transform: uppercase;
        }
        .footerDos{
            margin-bottom: 30px;
        }
        .fotoTwitter{
            @include redes;
        }
        .fotoInstagram{
            @include redes;
        }
        .fotoInstagram:hover{
            transform: scale(1.1);
        }
        .fotoTwitter:hover{
            transform: scale(1.1);
        }
        .linkRedes{
            text-decoration: none;
        }
    }
}

// media querie mobile del Index

@media only screen and (min-width: 300px) and (max-width: 600px){
    .body{
        display: grid;
        grid-template-areas: "header header header header"
                             "main main main main"
                             "galeria galeria galeria galeria"
                             "volver volver volver volver"
                             "footer footer footer footer";
    }
    .header{
        grid-area: header;
        .logoMenu{
            display: flex;
            flex-direction: column;
            .encabezado{
                text-align: center;
                .logoBodega{
                    height: 130px;
                    width: 130px;
                }
            }
            .menu{
                margin: 5px;
                padding: 5px;
                .menuLista{
                    padding: 5px;
                    .enlace{
                        font-size: $font-principal - 5.5;
                    }
                }
            }
        }
        .subtitulo{
            margin-top: 15px;
            font-size: $font-principal - 3;
        }
        .parrafoInicial{
            font-size: $font-principal - 4.5;
            margin-bottom: 50px;
        }
    }

    .main{
        grid-area: main;
        .reserva{
            margin-top: 5px;
            font-size: $font-principal - 7;
            border: 3.5px double nth($colores,1);
        }
        .primeraParte{
            margin-top: 15px;
            display: grid;
            align-items: center;
            .informacionPrincipal{
                height: 200px;
                width: 300px;
                margin-left: 0px;
                font-size: $font-principal - 4.5;
            }
            .fotoSierra{
                height: 200px;
                width: 300px;
            }
        }
        .segundaParte{
            display: grid;
            align-items: center;
            margin-top: 5px;
            .informacionSecundaria{
                height: 200px;
                width: 300px;
                margin-right: 0px;
                font-size: $font-principal - 4.5;
            }
            .fotoUva{
                height: 200px;
                width: 300px;
            }
        }
    }

    .galeria{
        grid-area: galeria;
        .galeriaFlex{
            .tituloGaleria{
                font-size: $font-principal - 4.5;
            }
            .imagenes{
                display: grid;
                .fotoBarrica{
                    padding: 5px;
                    margin: 0px;
                    height: 175px;
                    width: 175px;
                }
                .fotoSalon{
                    padding: 5px;
                    margin: 0px;
                    height: 175px;
                    width: 175px;
                }
                .fotoViñedo{
                    padding: 5px;
                    margin: 0px;
                    height: 175px;
                    width: 175px;
                }
            }
        }
    }

    .volver{
        display: none;
    }

    .footerFlex{
        .footerUno{
            text-align: center;
            margin: 15px;
            text-transform: uppercase;
            font-size: $font-principal - 6;
        }
        .footerDos{
            font-size: $font-principal -6;
            text-align: center;
            margin-bottom: 5px;
        }
        .linkRedes{
            .fotoTwitter{
                height: 15px;
                width: 15px;
            }
            .fotoInstagram{
                height: 15px;
                width: 15px;
            }
        }
    }
}

// media queri tablet de Index

@media only screen and (min-width: 601px) and (max-width: 1024px){
    .body{
        display: grid;
        grid-template-areas: "header header header header"
                             "main main main main"
                             "galeria galeria galeria galeria"
                             "volver volver volver volver"
                             "footer footer footer footer";
    }

    .header{
        grid-area: header;
        .logoMenu{
            display: flex;
            flex-direction: column;
            .encabezado{
                text-align: center;
                .logoBodega{
                    height: 175px;
                    width: 175px;
                }
            }
            .menu{
                margin: 5px;
                padding: 5px;
                .menuLista{
                    padding: 5px;
                    .enlace{
                        font-size: $font-principal - 1;
                    }
                }
            }
        }
        .subtitulo{
            margin-top: 15px;
            font-size: $font-principal + 2;
        }
        .parrafoInicial{
            margin-bottom: 100px;
            font-size: $font-principal - 1;
        }
    }

    .main{
        grid-area: main;
        .reserva{
            margin-top: 7.5px;
            margin-bottom: 20px;
            font-size: $font-principal - 4.5;
            border: 4.5px double nth($colores,1);
        }
        .primeraParte{
            display: grid;
            align-items: center;
            .informacionPrincipal{
                height: 200px;
                width: 450px;
                margin-left: 0px;
                font-size: $font-principal - 0.5;
                margin-bottom: 0px;
            }
            .fotoSierra{
                height: 300px;
                width: 450px;
            }
        }
        .segundaParte{
            display: grid;
            align-items: center;
            .informacionSecundaria{
                height: 200px;
                width: 450px;
                margin-right: 0px;
                font-size: $font-principal - 0.5;
            }
            .fotoUva{
                height: 300px;
                width: 450px;
            }
        }
    }

    .galeria{
        grid-area: galeria;
        .galeriaFlex{
            .tituloGaleria{
                font-size: $font-principal - 0.5;
            }
            .imagenes{
                .fotoBarrica{
                    padding: 5px;
                    margin: 0px;
                    height: 200px;
                    width: 200px;
                }
                .fotoSalon{
                    padding: 5px;
                    margin: 0px;
                    height: 200px;
                    width: 200px;
                }
                .fotoViñedo{
                    padding: 5px;
                    margin: 0px;
                    height: 200px;
                    width: 200px;
                }
            }
        }    
    }

    .volver{
        display: none;
    }
    
    .footerFlex{
        .footerUno{
            text-align: center;
            margin: 15px;
            text-transform: uppercase;
            font-size: $font-principal - 4;
        }
        .footerDos{
            font-size: $font-principal - 4;
            text-align: center;
            margin-bottom: 5px;
        }
        .linkRedes{
            .fotoTwitter{
                height: 20px;
                width: 20px;
            }
            .fotoInstagram{
                height: 20px;
                width: 20px;
            }
        }
    }
}